:root {
    --catRotation: 0deg;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.welcome {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.welcome-text{
    color: white;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
    gap: 20px;
}

.buttons-prop {
    padding: 10px;
}

.middle_button-link {
    padding: 2rem;
}

.cat-image {
    width: 100px;
    height: 100px;
    border-radius: 15px;

    animation: 2.5s spin-right linear infinite; 
}

.welcome_cat-image:hover {
    animation-play-state: paused;
}

@keyframes spin-right {
    0%{
        transform: rotate(var(--catRiotation));
    }
    100%{
        transform: rotate(360deg)
    }
}
@keyframes spin-left {
    0%{
        transform: rotate(var(--catRotation));
    }
    100%{
        transform: rotate(-360deg);
    }
}

body {
    background-image: url("./img/fire.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
