:root {
    --catRotation: 0deg;
    --catDirection: 1;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.welcome {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; }

.welcome-text{
    color: white;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
    gap: 20px;
}

.buttons-prop {
    padding: 10px;
}

.cat-image {
    width: 100px;
    height: 100px;
    border-radius: 15px;

    animation: spin 2.5s linear infinite; 
}

.cat-image:hover {
    animation-play-state: paused;
}

@keyframes spin {
    from {
        transform: rotate(var(--catRotation));
    }
    to {
        transform: rotate(calc(var(--catRotation) + 360deg * var(--catDirection)));
    }
}

body {
    background-image: url("./img/fire.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
