@font-face {
    font-family: "Maple Mono";
    src: url("./src/maple-mono.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.welcome {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.welcome-text {
    transition: transform 0.2s ease;
}

.silly-image {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 0.9375rem;
    margin: 1rem;

    animation: spin 2.5s linear infinite;
}

.silly-image:hover {
    animation-play-state: paused;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.menu {
    margin-top: 1rem;
    margin-left: 1rem;
    width: 100vw;
    min-height: 70vh;
    backdrop-filter: blur(0.5rem);
    border: solid 0.2rem gray;

    display: grid;
    grid-template-columns: repeat(16, calc(100vw / 16));
    grid-template-rows: repeat(16, calc(70vh / 16));
}

.about {
    width: 30rem;
    padding-bottom: 1rem;
    border: dotted 0.2rem #2a2d2f;

    grid-area: 1 / 1 / 5 / 8;
}

.cat-image {
    float: right;
    width: 10rem;
}

.cat-image:hover {
    transform: scale(1.4);
    filter: saturate(1.8);
    transition: all 0.2s;
}

body {
    background-image: url(./src/fire.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: "Maple Mono", sans-serif;
    color: white;

}
