:root {
    --rndColor: #6495ed;
}

@font-face {
    font-family: "Maple Mono";
    src: url("./src/maple-mono.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Global styles */
.hover-cool {
    transition: all 0.2s;
}
.hover-cool:hover {
    transform: scale(1.2) rotate(5deg);
}

.borduh { border: dotted 0.2rem #2a2d2f; padding: 0.3rem; }
/* i know that it was supposed to be only for the border
but i dont want to create another class,
and i am to lazy to change the name */

/* Top */
.welcome {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.welcome-text {
    transition: transform 0.2s ease;
}

.silly-image {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 0.9375rem;
    margin: 1rem;

    animation: spin 2.5s linear infinite;
}

.silly-image:hover {
    animation-play-state: paused;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* -----Menu----- */
.menu {
    margin: 1rem;
    width: 98vw;
    min-height: 70vh;
    backdrop-filter: blur(0.4rem);
    border: solid 0.2rem gray;

    display: grid;
    grid-template-columns: repeat(16, calc(100vw / 16));
    grid-template-rows: repeat(16, calc(70vh / 16));
}

/* About */
.about {
    width: 30rem;
    padding-bottom: 1rem;

    grid-area: 1 / 1 / 5 / 8;
}
.cat-image {
    float: right;
    width: 10rem;
}

/* Random Color */
.rndColor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    grid-area: 5 / 1 / 9 / 2;
}
.rndColor-title {
    margin-bottom: 0.4rem;
    font-weight: bold;
    font-style: italic;
}
.rndColor-preview {
    --lenght: 5rem;
    width: var(--lenght);
    height: var(--lenght);
    background-color: var(--rndColor);
    border-radius: 0.9375rem;
}
.rndColor-hex {
    margin-top: 0.4rem;
    background-color: var(--rndColor);
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100;
}

body {
    background-image: url(./src/fire.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: "Maple Mono", sans-serif;
    color: white;
    cursor: url("./src/cursor.png"), auto;

}
