.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.welcome {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.welcome-text{
    color: white;
}

.cat-image {
    width: 100px;
    height: 100px;
    border-radius: 15px;

    animation: spin 2.5s linear infinite; 
}

.cat-image:hover {
    animation-play-state: paused;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.menu {
    background-color: #5c0099;
    border: 0.2rem solid #ffd500;
    border-radius: 2rem;
    margin-top: 2rem;
    width: 90vw;
    min-height: 60vh;
}

body {
    background-image: linear-gradient(to top, #3d0066 50%, #fdc500 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
